In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('..')

from stark import utils

In [2]:
nlteab = pd.read_csv(utils.fetch_nltepath(lines='ab', coresize=15))
lteab = pd.read_csv(utils.fetch_ltepath(model='1d_da_nlte', lines='ab', window=8))

In [4]:
nlteab

,source_id,nlte_rv,nlte_e_rv,nlte_teff,nlte_logg,nlte_redchi
0,91690164426711040,NaN,NaN,NaN,NaN,NaN
1,3529574716212596736,NaN,NaN,NaN,NaN,NaN
2,5125057897336633344,NaN,NaN,NaN,NaN,NaN
3,5098930339964725248,NaN,NaN,NaN,NaN,NaN
4,2656542452030717952,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
543,4922382445088509312,NaN,NaN,NaN,NaN,NaN
544,3480134832273157760,NaN,NaN,NaN,NaN,NaN
545,6876934409805839872,NaN,NaN,NaN,NaN,NaN
546,1766702297192943488,NaN,NaN,NaN,NaN,NaN
547,3528008496258850560,NaN,NaN,NaN,NaN,NaN