In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from astropy.table import Table
from tqdm import tqdm
import os
import sys

sys.path.append('../')
sys.path.append('../../')
import WD_models
#import interpolator as interp

from stark import utils

In [7]:
lteargs = {'lines' : 'a', 'size' : 15, 'window' : 8}
stark = utils.read_stark_effect(lteargs)

In [9]:
len(stark.vstark)

261

In [10]:
utils.read_clean_lte(**lteargs)

,filename,lte_rv,lte_e_rv,lte_teff,lte_logg,lte_redchi
6,HE1518m0020_b_2000_07_18T03_27_43_all.dat.gz,71.221401,8.813395,13305.703064,8.000013,9.363930
15,WD0830m535_b_2003_05_10T23_32_26_all.dat.gz,37.687196,4.314435,25274.669699,7.127365,3.699205
16,WD0558p165_b_2002_02_21T01_07_41_all.dat.gz,74.084924,5.355237,17148.227010,7.883885,3.241592
31,HS0325p2142_a_2002_09_21T06_01_12_all.dat.gz,38.625713,7.321676,13773.287297,7.999995,2.242323
38,HE0324m2234_a_2002_03_05T00_31_57_all.dat.gz,28.951338,9.700037,15324.134664,7.791126,6.010875
...,...,...,...,...,...,...
1359,WD1257p047_b_2000_05_22T01_47_35_all.dat.gz,-16.072823,6.278372,18227.571280,7.500006,4.837981
1360,HE1315m1105_b_2000_05_19T03_07_36_all.dat.gz,-2.155170,6.670450,16736.128568,7.148022,7.992527
1369,WD0110m139_b_2000_07_16T07_03_55_all.dat.gz,53.577926,7.907957,20386.818429,7.213238,3.903430
1375,WD1412m109_b_2001_08_19T01_06_04_all.dat.gz,67.714616,7.976497,27674.384737,8.252767,3.171077
1381,HE0349m2537_b_2001_01_15T01_45_13_all.dat.gz,-21.512718,9.803396,24999.738018,8.327971,5.102755